﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE></TITLE>
    <META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
    <META NAME="AUTHOR" CONTENT="Brad Cantin">
    <META NAME="CREATED" CONTENT="20160209;232400000000000">
    <META NAME="CHANGEDBY" CONTENT="Rush">
    <META NAME="CHANGED" CONTENT="20180608;213000000000000">
    <STYLE TYPE="text/css">

        <!--
        @page {
            size: 8.5in 11in;
            margin-right: 0.5in;
            margin-top: 0.49in;
            margin-bottom: 0.49in
        }

        P {
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            P.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt
            }

            P.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            P.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt
            }

        H3 {
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            H3.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt
            }

            H3.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            H3.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                font-weight: normal
            }
        -->
    </STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">
<H3 CLASS="western"></H3>
<TABLE WIDTH=730 CELLPADDING=2 CELLSPACING=0>
	<TR VALIGN=TOP>
		<TD WIDTH=259 HEIGHT=25 STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.02in; padding-right: 0in">
			<P CLASS="western" STYLE="text-transform: uppercase"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>INJURED
			EMPLOYEE NAME: </B></FONT></FONT>
			</P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{EmployeeName}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=205 STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.02in; padding-right: 0in">
			<P CLASS="western" STYLE="text-transform: uppercase"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>employee
			#: </B></FONT></FONT>
			</P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{EmployeeCode}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=128 STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.02in; padding-right: 0in">
			<P CLASS="western"> <FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>DATE
			OF ACCIDENT:         </B></FONT></FONT>
			</P>
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=3><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{DateOfAccident}}</FONT></FONT></FONT></P>
			<P CLASS="western" ALIGN=CENTER>       <FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 5pt">MM / DD / YYYY</FONT></FONT></P>
		</TD>
		<TD WIDTH=120 STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>TIME:
			</B></FONT></FONT>
			</P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{TimeOfAccident}}</FONT></FONT></P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">	
			                      </FONT></FONT>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD COLSPAN=2 WIDTH=468 HEIGHT=30 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.02in; padding-right: 0in">
			<P CLASS="western"><FONT SIZE=3><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>ACCIDENT
			REPORTED TO: </B></SPAN></FONT></FONT></FONT></FONT>
			</P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{AccidentReportedTo}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=128 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.02in; padding-right: 0in">
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>DATE
			REPORTED:</B></FONT></FONT></P>
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=3><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{DateOfReported}}</FONT></FONT></FONT></P>
			<P CLASS="western"><FONT COLOR="#000000">                       </FONT><FONT SIZE=3><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 5pt"><SPAN LANG="en-US">MM
			  /  DD   /   YY</SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US">
			   </SPAN></FONT></FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=120 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><A NAME="_GoBack"></A><FONT SIZE=3><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>TIME
			REPORTED: </B></SPAN></FONT></FONT></FONT>
			</P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{TimeOfReported}}</FONT></FONT></P>
			<P CLASS="western"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=41 VALIGN=TOP STYLE="border: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>Was
			the accident / illness:</B></FONT></FONT></FONT></FONT></P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{Accident}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=41 VALIGN=TOP STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>Type
			of accident / illness:</B></SPAN></FONT></FONT></FONT></SPAN></FONT></P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{AccidentIllness}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=43 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>Injured
			Body parts:</B></SPAN></FONT></FONT></FONT></SPAN></FONT></P>
			<P CLASS="western"><FONT SIZE=3><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{BodyPart}}</FONT></FONT><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>
			</B></SPAN></FONT></FONT></FONT></SPAN></FONT>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=53 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>Description
			OF ACCIDENT: </B></SPAN></FONT></FONT></FONT></SPAN></FONT>
			</P>
			<P CLASS="western"> <FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{Description}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=24 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>Did
			the accident/illness happen on the employer's premises (owned,
			leased or maintained)?  </B></SPAN></FONT></FONT></FONT></SPAN><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{AccidentHappendEmployeerPremises}}</FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=43 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>Specify
			where (warehouse, client/customer site, parking lot, etc).</B></SPAN></FONT></FONT></FONT></FONT></P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{AccidentHappendEmployeerPremisesDesc}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=24 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>Did
			the accident/illness happen outside the Province of Ontario?  </B></SPAN></FONT></FONT></FONT></SPAN><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{AccidentOutSideProvince}}</FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=43 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>If
			yes, where (city, province/state, country).</B></SPAN></FONT></FONT></FONT></FONT></P>
            <P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{AccidentOutSideProvinceDesc}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=24 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>Are
			you aware of any witnesses or other employees involved in this
			accident/illness?  </B></SPAN></FONT></FONT></FONT></SPAN><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{AnyWitness}}</FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=43 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>If
			yes, provide name(s), position(s), and work phone number(s):</B></SPAN></FONT></FONT></FONT></FONT></P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{WitnessDesc}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=24 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>Was
			any individual, not in your firm, partially or totally responsible
			for this accident?  </B></SPAN></FONT></FONT></FONT></SPAN><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{ResonposibleAccident}}</FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=52 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>If
			yes, please provide name and work phone number:</B></SPAN></FONT></FONT></FONT></SPAN></FONT></P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{ResonposibleDescritption}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=24 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>Are
			you aware of any prior similar or related problem, injury or
			condition?  </B></SPAN></FONT></FONT></FONT></SPAN><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{AwareAnyInjury}}</FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=52 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><SPAN STYLE="text-transform: uppercase"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>If
			yes, please explain:</B></SPAN></FONT></FONT></FONT></SPAN></FONT></P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{AwareAnyInjuryDesc}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=724 HEIGHT=23 VALIGN=TOP STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT SIZE=3><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>If
			you have concerns about this claim, attach a written submission to
			this form.  </B></SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US">{{ConcernClaim}}</SPAN></FONT></FONT></FONT></FONT></P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western"><BR>
</P>
<H3 CLASS="western"></H3>
<TABLE WIDTH=730 CELLPADDING=2 CELLSPACING=0>
	<TR VALIGN=TOP>
		<TD WIDTH=282 HEIGHT=23 STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.02in; padding-right: 0in">
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>Name
			of person completing this report:</B></FONT></FONT></P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{NameOfPerson}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=436 STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>Official
			Title:</B></FONT></FONT></P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{OfficeTitle}}</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=282 HEIGHT=23 STYLE="border-top: 1px solid #000000; border-bottom: 1.50pt solid #000000; border-left: 1.50pt solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.02in; padding-right: 0in">
			<P CLASS="western"><FONT SIZE=3><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>Telephone:</B></SPAN></FONT></FONT></FONT></P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{Telephone}}</FONT></FONT></P>
		</TD>
		<TD WIDTH=436 STYLE="border-top: 1px solid #000000; border-bottom: 1.50pt solid #000000; border-left: 1px solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.02in">
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>Date:</B></FONT></FONT></P>
			<P CLASS="western"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt">{{RegisterDate}}</FONT></FONT></P>
		</TD>
	</TR>
</TABLE>
</BODY>
</HTML>