﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE>DATE</TITLE>
    <META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
    <META NAME="AUTHOR" CONTENT="Royal Group Resources">
    <META NAME="CREATED" CONTENT="20190216;165600000000000">
    <META NAME="CHANGEDBY" CONTENT="Admin">
    <META NAME="CHANGED" CONTENT="20190216;165600000000000">
    <STYLE TYPE="text/css">

        <!--
        @page {
            size: 8.5in 11in;
            margin-right: 1in;
            margin-top: 1in;
            margin-bottom: 0.4in
        }

        P {
            margin-bottom: 0.08in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            P.western {
                font-family: "Times New Roman", serif;
                font-size: 10pt;
                so-language: en-US
            }

            P.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            P.ctl {
                font-family: "Times New Roman", serif;
                font-size: 10pt;
                so-language: ar-SA
            }

        H1 {
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            H1.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: en-US;
                font-style: italic;
                font-weight: normal
            }

            H1.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt;
                font-style: italic;
                font-weight: normal
            }

            H1.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: ar-SA;
                font-weight: normal
            }

        H2 {
            margin-left: 0.04in;
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            H2.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: en-US;
                font-style: italic;
                font-weight: normal
            }

            H2.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt;
                font-style: italic;
                font-weight: normal
            }

            H2.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: ar-SA;
                font-weight: normal
            }
        -->
    </STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">
    <H1 CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 9pt">
            <B>
                {{CurrentDate}}
            </B>
        </FONT>
    </H1>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>{{EmployeeName}}</B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>{{Address}}</B></FONT></FONT></P>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>
                    {{City}},
                    {{State}}
                </B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>{{PostalCode}}</B></FONT></FONT></P>
	<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>{{PhoneNumber}}</B></FONT></FONT></P>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>
                    RE:
                    {{WarningType}}
                </B>
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <I>
                    <B>
                        – HAND DELIVERED AT {{CompanyAddress}}
                    </B>
                </I>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <I>
                    Dear
                </I>
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>
                    {{EmployeeName}} ,
                </B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                Please
                allow this letter to confirm the substance of our conversation on
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>{{CurrentDate}}</B>
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                at which time you were informed of
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>{{CompanyName}}</B>
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                concerns related to your unacceptable performance/behaviour,
                specifically as it relates to
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>{{NatureOfInfraction}}</B>.
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                This
                issue is in violation of
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>{{CompanyName}}</B>
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                policies and is considered a serious matter by the company.  As a
                result, we have no alternative but to issue this disciplinary
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><I><B>{{WarningType}}</B></I></FONT></FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <I>
                    warning.
                </I>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>
                    Our
                    records indicate that {{InfractionDetails}}
                </B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                Please
                understand that
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>
                    {{CompanyName}}
                </B>
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <I>
                </I>
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                views
                these actions as a failure on your part to meet the requirements of
                your job.  In an effort to clarify your responsibilities and
                reduce/eliminate any future performance issues, you are expected to
                meet the following requirements:
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.31in; margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.31in; margin-bottom: 0in">
        <A NAME="_GoBack"></A>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>{{Expectations}}</B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.31in; margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.04in; margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                Failure
                to comply with terms stated above may be interpreted as
                insubordination.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.04in; margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.04in; margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                This
                letter is intended to clarify the expectations of our working
                environment; failure to correct your unacceptable performance
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>
                    may
                    result in further disciplinary action, up to and including
                    termination.
                </B>
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                It is the preferred position of
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>
                    {{CompanyName}}
                </B>
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
                   <FONT SIZE=2 STYLE="font-size: 9pt">
                       that you consider this a serious matter and make the required changes
                       to ensure a successful future.  We encourage you to do everything
                       reasonable to ensure that your performance improves; however, please
                       note that we will be monitoring your efforts in the future.  If you
                       feel that the company can assist you in meeting these requirements,
                       please do not hesitate to myself.
                   </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.04in; margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.04in; margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Regards,</FONT></FONT>
    </P>
    <H2 CLASS="western" ALIGN=JUSTIFY></H2>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.04in; margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>{{CreatedUser}}</B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.04in; margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.04in; margin-bottom: 0in; border-top: none; border-bottom: 1.50pt solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
        <BR>
    </P>
    <P CLASS="western" STYLE="margin-left: 0.04in; margin-bottom: 0in">
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.06in; margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                I,
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <B>
                    {{EmployeeName}}
                </B>
            </FONT>
        </FONT><FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                ,
                acknowledge receipt of this notation.  I have read and understand the
                contents of this letter and agree that it is an accurate record of
                the items discussed during our meeting.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.06in; margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">__________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;________________________</FONT></FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.06in; margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                Signature&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Date
            </FONT>
        </FONT>
    </P>
    <DIV TYPE=FOOTER>
        <P STYLE="margin-top: 0.06in; margin-bottom: 0in">
            <BR>
        </P>
        <P STYLE="margin-bottom: 0in">
            <FONT FACE="Arial, sans-serif">
                <FONT SIZE=2 STYLE="font-size: 9pt">

                </FONT>
            </FONT>
        </P>
    </DIV>
</BODY>
</HTML>