﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <STYLE TYPE="text/css">

        <!--
        @page {
            size: 8.5in 11in;
            margin-right: 0.79in;
            margin-top: 1in;
            margin-bottom: 0.5in
        }

        P {
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            text-align: justify;
            widows: 2;
            orphans: 2
        }

            P.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: en-US
            }

            P.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            P.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: ar-SA
            }

        H4 {
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            H4.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: en-US
            }

            H4.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            H4.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: ar-SA;
                font-weight: normal
            }

        H5 {
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            text-align: justify;
            widows: 2;
            orphans: 2
        }

            H5.western {
                font-family: "Arial", sans-serif;
                so-language: en-US;
                font-style: italic;
                font-weight: normal
            }

            H5.cjk {
                font-family: "Times New Roman", serif;
                font-style: italic;
                font-weight: normal
            }

            H5.ctl {
                font-family: "Arial", sans-serif;
                so-language: ar-SA;
                font-weight: normal
            }
        -->
    </STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">
    <P CLASS="western" ALIGN=JUSTIFY><I><B>{{CurrentDate}}</B></I></P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <B>HAND DELIVERED AT </B><I>
            <B>{{CompanyName}}</B>
        </I>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <I><B>{{EmployeeName}}</B></I>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <I>
            <B>
                {{Address}}, {{City}},
                {{State}},{{PostalCode}}
            </B>
        </I>
    </P>
    <H4 CLASS="western" ALIGN=JUSTIFY>
        RE: Offer of Employment
    </H4>
    <BR>
    <P CLASS="western" ALIGN=JUSTIFY>Dear <I><B>{{EmployeeName}}</B></I><I>,</I></P>
    <P CLASS="western" ALIGN=JUSTIFY>
        Further to our recent discussions
        regarding employment at <B>{{CompanyName}} </B>,<I> </I>I am pleased
        to offer you the position of <I><B>test</B></I>. As a result of this
        offer, you will report directly to <I><B>{{ReportingManager}}</B></I><I>.</I>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        Outlined below are the terms and
        conditions of employment, which you must agree to prior to officially
        accepting this job offer, by signing in the appropriate area below.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY><U><B>Start Date:</B></U></P>
    <P CLASS="western">
        Your official date of hire would be considered as
        <I><B>{{Startdate}}</B></I>. This date has been mutually agreed
        to by both parties without duress or liability to the company.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY><U><B>Compensation:</B></U></P>
    <P CLASS="western" ALIGN=JUSTIFY>
        As a result of this employment
        offer, you will be paid a rate of <I><B>${{CompensationAmount}} / {{CompensationType}}</B></I>,
        paid as per company policy.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY><U><B>Hours of Work:</B></U></P>
    <P CLASS="western" ALIGN=JUSTIFY>{{WorkingDay}}</P>
    <H5 CLASS="western">
        <SPAN STYLE="font-style: normal">
            The Company and
            you agree that the provisions set out in this agreement shall remain
            in effect unless revoked by either party after giving two (2) weeks
            written notice, and where any provisions of this agreement violates
            the
        </SPAN><SPAN STYLE="font-style: normal">
            <U>
                Employment Standards
                Act
            </U>
        </SPAN><SPAN STYLE="font-style: normal">
            , the Act shall
            supersede this agreement.
        </SPAN>
    </H5>
    <P CLASS="western" ALIGN=JUSTIFY><U><B>Company Advances:</B></U></P>
    <P CLASS="western" ALIGN=JUSTIFY>
        The company may offer advancements
        to employees, i.e. advances, tools, uniforms, vacation etc. It is
        understood that the company reserves the right to deduct any
        advancement from your final pay upon termination from the company.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY><U><B>Vacation:</B></U></P>
    <P CLASS="western">
        <B>
            You will be entitled to {{Vacation}} of vacation per
            year.
        </B>.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <U><B>Assessment Period:</B></U>
    </P>
    <P LANG="en-CA">
        <FONT FACE="Times New Roman, serif">
            <FONT SIZE=3>
                <FONT FACE="Arial, sans-serif">
                    <FONT SIZE=2>
                        <SPAN LANG="en-US">
                            The
                            first three (3) months of your employment will represent an initial
                            probationary period. At any time up to the three-month anniversary
                            date of the commencement of your employment, either the Company or
                            you may terminate your employment effective immediately, without any
                            advance notice. Upon any such termination during this initial
                            probationary period, you will not be entitled to any compensation,
                            severance or other payment beyond the regular salary you have earned
                            as of your termination date.
                        </SPAN>
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        Beyond the initial probationary
        period, the term of your hiring shall be indefinite, subject to
        termination on notice as provided hereunder. Your employment may be
        terminated by <B>{{CompanyName}} </B> without notice for just cause.
        In any other event, <B>{{CompanyName}} </B> will provide you with
        notice of termination of your employment or payment in lieu of notice
        which complies with the standard required by the Employment Standards
        Act (ESA), as amended from time to time. It is agreed that such
        compensation will be in complete satisfaction of all common law and
        statutory obligations regarding notice of termination.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY><U><B>Benefits:</B></U></P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <B>
            Once you have completed {{Benifits}} of
            employment, you will eligible for company benefits.
        </B>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY><U><B>Confidentiality:</B></U></P>
    <P CLASS="western" ALIGN=JUSTIFY>
        During the term of your employment,
        you shall devote the whole of your time, attention and ability to the
        performance of your duties and responsibilities and shall use your
        best efforts to promote the interests of <B>{{CompanyName}} </B>.
        You shall not accept employment, or engage in self-employment, with
        any other individual, firm, corporation or agency of government at
        any time during the term of your employment which may interfere or
        conflict with your duties to <B>{{CompanyName}} </B>. You also agree
        to abide by the rules and policies that are presently in force of
        that <B>{{CompanyName}} </B> may implement or revise from time to
        time, including without limitation policies concerning confidential
        information, disclosure, internet use, harassment and business
        expenses.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        During your employment, we may
        disclose to you certain of our trade secrets or confidential or
        proprietary information. To assure the confidentiality of such trade
        secrets and confidential or proprietary information, you agree that
        you will hold in confidence, and not disclose to anyone outside of
        <B>{{CompanyName}} </B> any of our trade secrets, confidential or
        proprietary information, or similar information that you may receive
        from us with respect to <B>{{CompanyName}} </B> or any of our
        clients or prospective clients.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        Please note that the conditions of
        this offer letter are specific to you and, therefore, <B>
            {{CompanyName}}
        </B> requests that the terms be held in confidence.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        Your contract of employment consists
        of this letter agreement and the standard <B>{{CompanyName}} </B>
        non-disclosure, non-solicitation and non-competition agreement, which
        is attached to and made a part of this letter agreement as schedule
        “A”. Employment at <B>{{CompanyName}} </B> is conditioned upon
        your signing and delivering to <B>{{CompanyName}} </B>, prior to
        your first day of employment with <B>{{CompanyName}} </B>, a signed
        copy of this letter agreement together with a signed copy of the
        attached non-disclosure, non-solicitation and non-competition
        agreement. In addition, this offer or employment may be contingent
        upon satisfactory background check and verification of your prior
        employment, education and references. Furthermore, this offer is
        conditional on your ability to legally work in Canada.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY><U><B>Restrictions on Solicitation:</B></U></P>
    <P STYLE="background: transparent; font-style: normal">
        For the
        duration of this Agreement and for a period of one (1) year,
        following the termination of your employment, however and for
        whatever reasons such termination occurs:
    </P>
    <OL>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                you agree that you shall not,
                either directly or indirectly, solicit on your own behalf or on
                behalf of any other person, firm, or business entity, business from
                customers of the Company; and
            </P>
    </OL>
    <OL START=2>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                you agree that you shall not
                solicit or entice, or attempt to solicit or entice, any of the
                employees of the Company to enter into employment or service with
                any other person, firm or company.
            </P>
    </OL>
    <P CLASS="western" ALIGN=JUSTIFY><U><B>Conflict of Interest</B></U></P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <B>{{CompanyName}} </B> has adopted
        this policy to ensure that our business interests are protected, and
        employee safety and productivity are maintained. <B>{{CompanyName}} </B>
        generally allows outside employment where: the secondary employment
        causes no adverse effects to the employee’s performance of job
        duties at <B>{{CompanyName}} </B>; the secondary work is performed
        after the employee’s <B>{{CompanyName}} </B> regularly scheduled
        working hours; and, there is no conflict of interest. Where a
        situation arises where a <B>{{CompanyName}} </B> employee is
        required to conduct business or provide services to a family member,
        or associate, this may create a real or perceived conflict of
        interest for both the company and the employee in question. As such,
        <B>{{CompanyName}} </B> requires any employee that feels they may
        have a conflict of interest to immediately notify their immediate
        supervisor for relief.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY><U><B>Termination for Just Cause:</B></U></P>
    <P CLASS="western" ALIGN=JUSTIFY>
        The employer may terminate this
        employment agreement / contract and your employment at any time for
        cause, without notice and without payment of any compensation, either
        by way of anticipated earnings or damages of any kind.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="background: #ffffff">
        <U>
            <B>
                Termination&nbsp;Without
                Just Cause:
            </B>
        </U>&nbsp;
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="background: #ffffff">
        <FONT COLOR="#222222">
            <SPAN STYLE="background: #ffffff">
                The
                Company may&nbsp;terminate&nbsp;your employment, without cause, in
                which case the Company’s sole obligation shall be to:
            </SPAN>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="background: #ffffff">
        (a) <FONT COLOR="#222222">
            <SPAN STYLE="background: #ffffff">
                Pay
                you all accrued but unpaid wages and vacation pay earned up to the
                date of&nbsp;termination;
            </SPAN>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="background: #ffffff">
        (b)
        <FONT COLOR="#222222">
            Provide you with only the minimum notice
            of&nbsp;termination, or pay in&nbsp;
        </FONT><FONT COLOR="#222222"><I>lieu</I></FONT><FONT COLOR="#222222">
            &nbsp;thereof,
            and severance pay, if any, as required under the ESA; and
        </FONT>,
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="background: #ffffff">
        (c)
        <FONT COLOR="#222222">
            <SPAN STYLE="background: #ffffff">
                Continue to
                pay premiums towards your continued participation in the Company’s
                benefit plans (if you participated in such plans immediately prior to
                your&nbsp;termination) for only the minimum duration required by the
                ESA
            </SPAN>
        </FONT>.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="background: #ffffff">
        <FONT COLOR="#222222">
            You
            understand that the payments noted in this paragraph shall fully
            satisfy any common law, contractual or statutory rights you may have
            to notice of termination&nbsp;of your employment, or pay in&nbsp;
        </FONT><FONT COLOR="#222222"><I>lieu</I></FONT><FONT COLOR="#222222">
            &nbsp;of
            notice, and severance pay. Further you understand and agree that this
            provision shall apply to you throughout your employment with the
            Company, regardless of any changes to your position or compensation
        </FONT>.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#212121">
            <SPAN STYLE="background: #ffffff">
                All
                company property (i.e. tools, keys, swipe/identification card, etc.)
                shall be returned upon termination.&nbsp;Failure to return any
                equipment and/or material will be deducted from your final payment
            </SPAN>
        </FONT>.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="background: #ffffff"><U><B>Severability:</B></U>&nbsp;</P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="background: #ffffff">
        In the
        event that any provision or part of a provision of this Agreement
        shall be deemed void, invalid, illegal or unenforceable by a court of
        competent jurisdiction, the remaining provisions or parts of the
        provisions shall remain valid and enforceable.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        Please review the contents of this
        agreement. If you agree to the terms and conditions, indicate your
        acceptance below. This offer will remain open and valid until
        <I><B>{{OfferAcceptingDate}}</B></I><I>. </I>Should the offer
        not be returned with the appropriate signatures by this time, the
        offer will be withdrawn and considered null and void.
    </P><br /><br />
    <P CLASS="western" ALIGN=JUSTIFY>
        __________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;________________________
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        Authorizing Officer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Date
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="border-top: none; border-bottom: 1.50pt solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="border-top: none; border-bottom: 1.50pt solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="border-top: none; border-bottom: 1.50pt solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="border-top: none; border-bottom: 1.50pt solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="border-top: none; border-bottom: 1.50pt solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
        <BR>
    </P>
    <P CLASS="western">
        <BR>
    </P>
    <P CLASS="western">
        <BR>
    </P>
    <P CLASS="western">
        I, <I><B>{{EmployeeName}}</B></I><B>,</B> have
        reviewed, understand and agree to the terms and conditions of
        employment as stated above.
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        _________________________________________________

    </P>
    <P CLASS="western" ALIGN=JUSTIFY>Signature								Date</P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=CENTER>
        <BR>
    </P>
    <P CLASS="western" ALIGN=CENTER style="text-align:center">
        <B>
            SCHEDULE 'A'<BR><BR>{{CompanyName}}
        </B>
    </P>
    <P CLASS="western" ALIGN=CENTER style="text-align:center">
        <B>
            Re: Non-disclosure,
            Non-Solicitation Non-Competition<BR><BR>
        </B>This Agreement is made as
        of this <B>11</B> day of <B>February, 2019</B> by <B>{{EmployeeName}}</B>
        and <B>{{CompanyName}} </B> (together with its present and future
        subsidiaries and affiliates, '<B>{{CompanyName}} </B>') , with a
        place of business at <B>
            23 2nd Street, Toronto, ON - Ontario M9L 1V3,
            Canada<BR>
        </B><BR>
    </P>
    <P CLASS="western" ALIGN=LEFT>
        In consideration of employment by <B>
            {{CompanyName}}
        </B> of the Employee and the compensation to be paid by
        <B>{{CompanyName}} </B> to the Employee now and hereafter, <B>
            {{CompanyName}}
        </B> and Employee agree as follows:<BR>
    </P>
    <P CLASS="western" ALIGN=LEFT STYLE="margin-left: 0.31in">
        1.	<U>
            Confidential
            Information:<BR>
        </U><BR>
    </P>
    <P CLASS="western" ALIGN=LEFT STYLE="margin-left: 0.81in">
        a)	<U>
            Confidential
            Information is a Valuable Company Asset.
        </U> <B>{{CompanyName}} </B><B>&#39;s</B>
        Confidential Information (defined below) is a valuable, special and
        unique asset of <B>{{CompanyName}} </B><B>&#39;s</B> business, and
        access to and knowledge of <B>{{CompanyName}} </B><B>&#39;s</B>
        legitimate business interests dictate that the confidentiality of all
        Confidential Information be preserved. Use or reliance on the
        Confidential Information by or on behalf of any other business or
        commercial activity in competition with <B>{{CompanyName}} </B>
        could result in irreparable harm to <B>{{CompanyName}} </B>.<BR><BR>b)	<U>
            <B>{{CompanyName}}</B>
        </U><U> Information:</U> Employee agrees to hold in
        strict confidence, and not to use, except for the benefit of <B>
            {{CompanyName}}
        </B>, or to disclose to any person, firm or corporation
        without written authorization of <B>{{CompanyName}} </B><B>&#39;s</B>
        directors, any Confidential Information of <B>{{CompanyName}} </B>,
        and such agreement with respect to Confidential Information shall
        remain in effect at all times during the term of his or her
        employment and at any time thereafter.<BR><BR>c)	<U>
            'Confidential
            Information' Defined.
        </U> Employee understands that 'Confidential
        Information means any and all information and knowledge regarding
        the Business of <B>{{CompanyName}} </B> which the Employee
        assimilates or to which the Employee has access during this or her
        employment with <B>{{CompanyName}} </B> including, but not limited
        to, information about <B>{{CompanyName}} </B> proprietary methods,
        methodologies and disciplines, technical data, trade  secrets,
        know-how, research and development information, product plans,
        products, client information, employees, employee lists, books and
        records of <B>{{CompanyName}} </B>, corporate relationships,
        suppliers, markets, computer software, computer software development,
        inventions, processes, formulas, technology, designs, drawings,
        technical information, source codes, business plans, and matters of a
        business nature such as information regarding marketing, recruiting,
        costs, pricing, finances, financial models and projections, billings
        or other similar business information. Employee further understands
        that Confidential Information does not include any of the foregoing
        items which has become publicly known and made generally available
        through no act of Employee. Employee further agrees that all
        Confidential Information shall at all times remain the property of
        <B>{{CompanyName}} </B>.<BR><BR>d)	<U>Former Employer Information.</U>
        Employee represents and warrants that the execution of this Agreement
        and performance of the Employee’s obligations hereunder will not
        conflict with, result in the breach of any provision of, or the
        termination of or constitute a default under any agreement with any
        other person or entity of which the Employee is a party or by which
        the Employee is bound.Furthermore, Employee agrees that he or she
        will not, during his or her employment with <B>{{CompanyName}} </B>,
        improperly use or disclose any proprietary information or trade
        secrets of any former employer or other person or entity with which
        Employee has an agreement or duty to keep in confidence and that
        Employee will not bring onto the premises of <B>{{CompanyName}} </B>
        any unpublished document or proprietary information belonging to any
        such employer, person or entity unless consented to in writing by
        such employer, person or entity.<BR><BR>e)	<U>
            Third Party
            Information.
        </U> Employee recognizes that <B>{{CompanyName}} </B>,
        has received and in the future will receive from third parties their
        confidential or proprietary information subject to a duty on <B>
            {{CompanyName}}
        </B><B>&#39;s</B> part to maintain the confidentiality of such
        information and to use it only for certain limited purposes. Employee
        agrees to hold all such confidential information in the strictest of
        confidence and not to disclose it to any person, firm or corporation
        or to use it except as necessary in carrying out his or her work for
        <B>{{CompanyName}} <BR><BR></B>f)	<U><B>{{CompanyName}} </B></U><U>
            Property.
        </U> Employee agrees that all documents, materials,
        software, hardware or other media, or information of any kind
        concerning any matters affecting or relating, directly or indirectly,
        to <B>{{CompanyName}} </B><B>&#39;s</B> business, products or services,
        (collectively, 'Media'), whether or not they contain or embody
        Confidential Information, and all Confidential Information are the
        exclusive property of <B>{{CompanyName}} </B>. Employee agrees to
        exercise care in accessing, storing and disposing of Media,
        particularly when it includes Confidential Information. Immediately
        upon any termination of Employee’s employment or at any time upon
        the request of <B>{{CompanyName}} </B>, Employee agrees to deliver
        to <B>{{CompanyName}} </B> all Media then in his or her possession
        or control. If the Media cannot be reasonably delivered, the Employee
        agrees to provide reasonable evidence that the Media have been
        destroyed, including but not limited to, purging or erasing any
        computer files or date records, provided, however that the Employee
        will not destroy or discard any Media without prior authorization
        from <B>{{CompanyName}} </B>.<BR><BR>g)	<U>
            Acknowledgement of
            Fiduciary Duty.
        </U> Employee acknowledges that he or she is a
        fiduciary of <B>{{CompanyName}} </B> and owes <B>{{CompanyName}} </B>
        a duty to act in the best interests of <B>{{CompanyName}} </B> at
        all times during his or her employment and for a reasonable period of
        time following the termination for any reason of his or her
        employment. Without limiting any provision, covenant or restriction
        in this Agreement, the Employee acknowledges that he or she shall not
        use or assist the use of any Confidential Information or Media for
        the Employee’s personal benefit or the benefit of a third party.<BR><BR>
    </P>
    <P CLASS="western" ALIGN=LEFT STYLE="margin-left: 0.31in">
        2.	<U>
            Covenants
            Against Solicitation of Clients.
        </U> Employee agrees that <B>
            {{CompanyName}}
        </B> has a legitimate interest in protecting its client
        relationships. During the Employee’s employment with <B>
            {{CompanyName}}
        </B> and for a period of one (1) year following the
        termination of his or her employment with <B>{{CompanyName}} </B> or
        any reason, Employee agrees to refrain from and will not directly or
        indirectly, accept business from, solicit, divert or take away, or
        attempt to accept business from, solicit, divert or take away, the
        business or patronage of any of the clients of <B>{{CompanyName}} </B>
        which were contacted, solicited, supervised or served by the Employee
        during his or her employment or with which Employee had contact
        during his or her employment.<BR><BR>3.	<U>General Provisions.<BR></U><BR>
    </P>
    <P CLASS="western" ALIGN=LEFT STYLE="margin-left: 0.81in">
        a)	<U>
            Governing
            Law.
        </U> This Agreement will be governed by the laws of the Province
        of Ontario.<BR><BR>b)	<U>Entire Agreement.</U> Approvals or Consents
        and Modifications. The Agreement sets forth the entire agreement and
        understanding between <B>{{CompanyName}} </B> and Employee relating
        to the subject herein and merges and supersedes all prior discussions
        and agreements with respect hereto. Any subsequent change or changes
        in Employee’s duties, role, salary or compensation will not affect
        the validity or scope of this Agreement. In any instance under this
        Agreement in which the authorization, consent or approval by <B>
            {{CompanyName}}
        </B> is required or can be given, such authorization,
        consent or approval (i) may be given, withheld or conditioned in
        <B>{{CompanyName}} </B><B>&#39;s</B> sole discretion, and (ii) to be
        effective must be in writing and signed by a Chief Executive Officer,
        Chief Financial Officer, Executive Vice President, Senior Vice
        President, Vice President or Director unless specifically provided
        otherwise in this Agreement. No modifications of or amendment to this
        Agreement, nor any waiver of any rights under this Agreement, will be
        effective unless in writing signed by both parties.<BR><BR>c)	<U>Severability</U>
        If one or more of the provisions in this Agreement are deemed void by
        law, then the remaining provisions will continue in full force and
        effect.<BR><BR>d)	<U>Successors and Assigns.</U> This agreement will
        be binding upon Employee’s heirs, executors, administrators and
        other legal representatives and will be for the benefit of <B>
            {{CompanyName}}
        </B>, its successors and assigns.<BR><BR>e)	<U>
            Enforcement
            in Accordance with Law.
        </U> The parties that this Agreement will be
        enforced in accordance with applicable law.<BR><BR>f)	<U>
            Waiver of
            Breach.
        </U> The waiver by <B>{{CompanyName}} </B> of a breach of the
        provisions of this Agreement by the Employee shall not be construed
        as a waiver by <B>{{CompanyName}} </B> of any subsequent breach by
        the Employee.<BR><BR>g)	<U>Equitable Relief.</U> The Employee
        acknowledges and agrees that a breach of any provision of this
        Agreement will cause irreparable damage to <B>{{CompanyName}} </B>,
        and that upon such breach, <B>{{CompanyName}} </B> shall be entitled
        to equitable relief, including  injunctive relief and specific
        performance, without the necessity of proving actual damages, and
        shall be further entitled to an accounting of all earnings, profit or
        other benefits acquired by the Employee as a result of such breach,
        and to any other remedy now or hereafter provided at law for such
        breach.<BR><BR>h)	<U>Independent Legal Advice.</U> The Employee
        confirms that he or she has been afforded an opportunity to obtain
        independent legal advice regarding the terms of this Agreement.
        Further, it is confirmed by Employee that he or she has entered this
        Agreement freely, voluntarily and without duress.
    </P>
    <P CLASS="western" ALIGN=CENTER>
        <BR>
    </P>
    <P CLASS="western" ALIGN=CENTER>
        <BR>
    </P>
    <P CLASS="western" ALIGN=CENTER>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in">Date:	<I><B>_________________________</B></I>		Date:	<I><B>__________________________________</B></I></P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in">
        By:  ____________________________
        By:         <B>{{CompanyName}}</B>
    </P>
</BODY>
</HTML>