﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<STYLE TYPE="text/css">
	<!--
		@page { size: 8.5in 11in; margin-right: 0.79in; margin-top: 0.5in; margin-bottom: 0.5in }
		P { margin-bottom: 0.08in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
		P.western { font-family: "Arial", sans-serif; font-size: 10pt; so-language: en-US }
		P.cjk { font-family: "Times New Roman", serif; font-size: 10pt; so-language: zh-CN }
		P.ctl { font-family: "Arial", sans-serif; font-size: 10pt; so-language: ar-SA }
		H1 { margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; text-align: center; widows: 2; orphans: 2 }
		H1.western { font-family: "Arial", sans-serif; font-size: 8pt; so-language: en-US }
		H1.cjk { font-family: "Times New Roman", serif; font-size: 8pt; so-language: zh-CN }
		H1.ctl { font-family: "Arial", sans-serif; font-size: 10pt; so-language: ar-SA; font-weight: normal }
		H2 { margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
		H2.western { font-family: "Arial", sans-serif; font-size: 8pt; so-language: en-US }
		H2.cjk { font-family: "Times New Roman", serif; font-size: 8pt; so-language: zh-CN }
		H2.ctl { font-family: "Arial", sans-serif; font-size: 10pt; so-language: ar-SA; font-weight: normal }
		H4 { margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
		H4.western { font-family: "Arial", sans-serif; font-size: 8pt; so-language: en-US; font-style: italic; font-weight: normal }
		H4.cjk { font-family: "Times New Roman", serif; font-size: 8pt; so-language: zh-CN; font-style: italic; font-weight: normal }
		H4.ctl { font-family: "Arial", sans-serif; font-size: 10pt; so-language: ar-SA; font-weight: normal }
		H5 { margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
		H5.western { font-family: "Arial", sans-serif; font-size: 8pt; so-language: en-CA }
		H5.cjk { font-family: "Times New Roman", serif; font-size: 8pt; so-language: zh-CN }
		H5.ctl { font-family: "Arial", sans-serif; so-language: ar-SA; font-weight: normal }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">
<DIV TYPE=HEADER>
	<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
	</P>
	<P ALIGN=CENTER STYLE="margin-bottom: 0.25in"><B>EMPLOYEE
	PERFORMANCE REVIEW</B></P>
</DIV>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><B>SECTION 1 
</B><FONT SIZE=1 STYLE="font-size: 8pt">(Completed by the individual
appointed by Senior Management)</FONT></P>
<TABLE WIDTH=688 CELLPADDING=7 CELLSPACING=0>
	<TR VALIGN=TOP>
		<TD COLSPAN=2 WIDTH=321 STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<H5 LANG="en-CA" CLASS="western" STYLE="font-weight: normal">EMPLOYEE
			NAME:</H5>
			<P CLASS="western">{{EmployeeName}}</P>
		</TD>
		<TD WIDTH=124 STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt">EMPLOYEE
			NUMBER:</FONT></P>
			<P CLASS="western">{{EmployeeID}}</P>
		</TD>
		<TD WIDTH=197 STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.08in">
			<P CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt">POSITION:</FONT></P>
			<P CLASS="western">{{EmployeePosition}}</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=249 STYLE="border-top: 1px solid #000000; border-bottom: 1.50pt solid #000000; border-left: 1.50pt solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt">EVALUATOR
			NAME:</FONT></P>
            <P CLASS="western">{{EvaluatorName}}</P>
		</TD>
		<TD COLSPAN=2 WIDTH=196 STYLE="border-top: 1px solid #000000; border-bottom: 1.50pt solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt">POSITION:</FONT></P>
			<P CLASS="western">{{EvalutorPosition}}</P>
		</TD>
		<TD WIDTH=197 STYLE="border-top: 1px solid #000000; border-bottom: 1.50pt solid #000000; border-left: 1px solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.08in">
			<P CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt">DATE
			OF REVIEW:</FONT></P>
			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT SIZE=1 STYLE="font-size: 8pt">_</FONT></FONT><FONT COLOR="#000000"><FONT SIZE=1 STYLE="font-size: 8pt"><U>__</U></FONT></FONT><U>
                {{DateOfReview}}</U><FONT COLOR="#000000"><FONT SIZE=1 STYLE="font-size: 8pt">____</FONT></FONT></P>
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 5pt">DD
			        MM            YY</FONT></P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><B>SECTION 2</B><FONT SIZE=1 STYLE="font-size: 8pt">
(Use the chart below to assess the employee in the areas indicated in
Section 2A)</FONT></P>
<TABLE WIDTH=688 CELLPADDING=7 CELLSPACING=0>
    {{Section2}}
</TABLE>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><B>SECTION 2A</B><FONT SIZE=1 STYLE="font-size: 8pt">
(Completed by the evaluator indicated in Section 1)  </FONT>
</P>
<TABLE WIDTH=688 CELLPADDING=7 CELLSPACING=0>
    <TR>
        <TD WIDTH=147 STYLE="border-top: 1.50pt solid #000000; border-bottom: none; border-left: 1.50pt solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <H2 CLASS="western"></H2>
        </TD>
        <TD WIDTH=115 STYLE="border-top: 1.50pt solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P CLASS="western" ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 8pt"><B>Unsatisfactory</B></FONT></P>
        </TD>
        <TD WIDTH=115 STYLE="border-top: 1.50pt solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <H1 CLASS="western">Needs Improvement</H1>
        </TD>
        <TD WIDTH=115 STYLE="border-top: 1.50pt solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P CLASS="western" ALIGN=CENTER>
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    <B>
                        Meets
                        Expectations
                    </B>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=122 STYLE="border-top: 1.50pt solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.08in">
            <P CLASS="western" ALIGN=CENTER>
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    <B>
                        Exceeds
                        Expectations
                    </B>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR>
        <TD COLSPAN=5 WIDTH=670 BGCOLOR="#e5e5e5" STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.08in">
            <OL>
                <LI>
                    <P CLASS="western">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <B>
                                TIMEKEEPING
                            </B>
                        </FONT><FONT SIZE=1 STYLE="font-size: 6pt">
                            (attach a copy of
                            the Employee Attendance Calendar)
                        </FONT>
                    </P>
            </OL>
        </TD>
    </TR>
    {{SectionContent2A}}
</TABLE>
<br />
<P CLASS="western" STYLE="margin-bottom: 0in"><B>SECTION 3</B>
<FONT SIZE=1 STYLE="font-size: 8pt">(Completed by the evaluator
indicated in Section 1)</FONT></P>
<TABLE WIDTH=688 CELLPADDING=7 CELLSPACING=0>
    <COL WIDTH=670>
    <TR>
        <TD WIDTH=670 HEIGHT=7 VALIGN=TOP STYLE="border: 1.50pt solid #000000; padding: 0in 0.08in">
            <P CLASS="western" STYLE="margin-bottom: 0in">
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    DESCRIBE
                    THE EMPLOYEE’S STRENGTHS:
                </FONT>
            </P>
            <P CLASS="western" STYLE="margin-bottom: 0in">
                <BR>
            </P>
            <P CLASS="western" STYLE="margin-bottom: 0in">
                {{EmployeeStrengths}}
            </P>
            <P CLASS="western">
                <BR>
            </P>
        </TD>
    </TR>
</TABLE>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><B>SECTION 4</B>
<FONT SIZE=1 STYLE="font-size: 8pt">(Completed by the evaluator
indicated in Section 1)</FONT></P>
<TABLE WIDTH=688 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=670>
	<TR>
        <TD WIDTH=670 HEIGHT=9 VALIGN=TOP STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.08in">
            <P CLASS="western" STYLE="margin-bottom: 0in">
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    DESCRIBE
                    THE EMPLOYEE’S AREAS FOR IMPROVEMENT:
                </FONT>
            </P>
            <P CLASS="western" STYLE="margin-bottom: 0in">
                <BR>
            </P>
            <P CLASS="western" STYLE="margin-bottom: 0in">
                {{ImprovementDesc}}
            </P>
            <P CLASS="western">
                <BR>
            </P>
        </TD>
	</TR>
</TABLE>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><B>SECTION 5</B>
<FONT SIZE=1 STYLE="font-size: 8pt">(Completed by the evaluator
indicated in Section 1)</FONT></P>
<TABLE WIDTH=688 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=670>
	<TR>
		<TD WIDTH=670 HEIGHT=9 VALIGN=TOP STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.08in">
			<P CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt">DESCRIBE
			GOALS SET FOR AND/OR WITH THE EMPLOYEE:</FONT></P>
			<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
            <P CLASS="western" STYLE="margin-bottom: 0in">
                {{GaolDesc}}
            </P>
			<P CLASS="western"><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><B>SECTION 6 </B><FONT SIZE=1 STYLE="font-size: 8pt"><B>(</B></FONT><FONT SIZE=1 STYLE="font-size: 8pt">Completed
by the employee)</FONT></P>
<TABLE WIDTH=688 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=670>
	<TR>
		<TD WIDTH=670 HEIGHT=7 VALIGN=TOP STYLE="border: 1.50pt solid #000000; padding: 0in 0.08in">
			<P CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt">EMPLOYEE
			COMMENTS:</FONT></P>
			<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
            <P CLASS="western" STYLE="margin-bottom: 0in">{{Comments}}</P>
			<P CLASS="western"><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><B>SECTION 7 
</B><FONT SIZE=1 STYLE="font-size: 8pt">(Completed by the individuals
indicated below. The signature below indicates that the Performance
Review has been discussed and the contents are understood.)</FONT></P>
<TABLE WIDTH=688 CELLPADDING=7 CELLSPACING=0>
	<TR VALIGN=TOP>
		<TD WIDTH=270 STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1.50pt solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt">EMPLOYEE
			NAME:</FONT></P>
			<P CLASS="western">{{EmployeeName}}</P>
		</TD>
		<TD WIDTH=272 STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P CLASS="western"><FONT SIZE=1 STYLE="font-size: 8pt">EMPLOYEE
			SIGNATURE:</FONT></P>
		</TD>
		<TD WIDTH=101 STYLE="border-top: 1.50pt solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.08in">
			<P CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt">DATE:</FONT></P>
			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt">____/_____/____</FONT></P>
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 5pt">DD
			        MM            YY</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=270 STYLE="border-top: 1px solid #000000; border-bottom: 1.50pt solid #000000; border-left: 1.50pt solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt">EVALUATOR
			NAME:</FONT></P>
            <P CLASS="western">{{EvaluatorName}}</P>
		</TD>
		<TD WIDTH=272 STYLE="border-top: 1px solid #000000; border-bottom: 1.50pt solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P CLASS="western"><FONT SIZE=1 STYLE="font-size: 8pt">EVALUATOR
			SIGNATURE:</FONT></P>
		</TD>
		<TD WIDTH=101 STYLE="border-top: 1px solid #000000; border-bottom: 1.50pt solid #000000; border-left: 1px solid #000000; border-right: 1.50pt solid #000000; padding: 0in 0.08in">
			<P CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt">DATE:</FONT></P>
			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt">____/_____/____</FONT></P>
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=1 STYLE="font-size: 5pt">DD
			        MM            YY</FONT></P>
		</TD>
	</TR>
</TABLE>
</BODY>
</HTML>