﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE>Letter – Change in Benefits letter</TITLE>
    <META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
    <META NAME="AUTHOR" CONTENT="Customer">
    <META NAME="CREATED" CONTENT="20180724;163700000000000">
    <META NAME="CHANGEDBY" CONTENT="eclipse EIO">
    <META NAME="CHANGED" CONTENT="20180724;163700000000000">
    <STYLE TYPE="text/css">

        <!--
        @page {
            size: 8.5in 11in;
            margin-right: 1in;
            margin-top: 1in;
            margin-bottom: 0.5in
        }

        P {
            margin-bottom: 0.08in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            P.western {
                font-family: "Times New Roman", serif;
                font-size: 12pt;
                so-language: en-US
            }

            P.cjk {
                font-family: "Times New Roman", serif;
                font-size: 12pt
            }

            P.ctl {
                font-family: "Times New Roman", serif;
                font-size: 12pt;
                so-language: ar-SA
            }
        -->
    </STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <FONT FACE="Calibri, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <SPAN STYLE="background: #ffff00">
                    {{CurrentDate}}
                </SPAN>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <FONT FACE="Calibri, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <SPAN STYLE="background: #ffff00">
                    {{EmployeeName}}
                </SPAN>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>
                    {{Address}},
                    {{City}},{{PostalCode}}
                </B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>
                    {{PhoneNumber}}
                </B>
            </FONT>
        </FONT>
    </P><BR>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <FONT FACE="Calibri, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>
                    RE:
                    TEMPORARY LAYOFF &#45; HAND DELIVERED AT {
                </B>
            </FONT>
        </FONT><FONT FACE="Calibri, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>
                    <SPAN STYLE="background: #ffff00">
                        {{CompanyAddress}}
                    </SPAN>
                </B>
            </FONT>
        </FONT>
    </P><BR>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <FONT FACE="Calibri, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                Dear
            </FONT>
        </FONT><FONT FACE="Calibri, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <SPAN STYLE="background: #ffff00">
                    {{EmployeeName}},
                </SPAN>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <FONT FACE="Calibri, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                Unfortunately,
                due to the current economic conditions and its negative impact on our
                business, regretfully, this letter is to notify you of your temporary
                layoff effect today,
            </FONT>
        </FONT><FONT FACE="Calibri, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <SPAN STYLE="background: #ffff00">
                    {{CurrentDate}}
                </SPAN>
            </FONT>
        </FONT>
    </P>
    <br />
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <FONT FACE="Calibri, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                As
                per the Employment Standards Act, this temporary layoff may extend to
                a maximum of thirty-five (35) weeks.  Please be advised that your
                company benefits will be maintained during this temporary layoff.  In
                consideration of our regularly scheduled payroll deposit, your
                outstanding wages and a Record of Employment will be processed on the
                next payroll cycle.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <FONT FACE="Calibri, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <BR>We
                sincerely regret this decision. At this point, it is our expectation
                that you will be recalled to work in the near future.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <FONT FACE="Calibri, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                You
                will need to make arrangements through the Payroll Administrator to
                continue payments to any other
            </FONT>
        </FONT><FONT FACE="Calibri, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <SPAN STYLE="background: #ffff00">
                    {{CompanyName}}
                </SPAN>
            </FONT>
        </FONT><FONT FACE="Calibri, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                sponsored programs or automatic salary deductions.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in">
        <FONT FACE="Calibri, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                Please
                contact me if you have any further questions.
            </FONT>
        </FONT>
    </P><br /><br />
    <P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Calibri, sans-serif"><FONT SIZE=2 STYLE="font-size: 11pt">Sincerely,</FONT></FONT></P>
    <br />
    <P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Calibri, sans-serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="background: #ffff00">(OWNER)</SPAN></FONT></FONT></P>
    <br />
</BODY>
</HTML>