﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <STYLE TYPE="text/css">

        <!--
        @page {
            size: 8.5in 11in;
            margin-right: 1in;
            margin-top: 0.5in;
            margin-bottom: 0.5in
        }

        P {
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            text-align: justify;
            widows: 2;
            orphans: 2
        }

            P.western {
                font-family: "Times New Roman", serif;
                font-size: 10pt;
                so-language: en-US
            }

            P.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            P.ctl {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

        H1 {
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            H1.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: en-US;
                font-style: italic;
                font-weight: normal
            }

            H1.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt;
                font-style: italic;
                font-weight: normal
            }

            H1.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                font-weight: normal
            }

        H2 {
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            H2.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: en-US
            }

            H2.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            H2.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                font-weight: normal
            }
        -->
    </STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">
    <H1 CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><B>{{CurrentDate}}</B></FONT></H1>
        <BR>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>{{EmployeeName}}</B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>
                    {{Address}},
                    {{City}},{{PostalCode}}
                </B>
            </FONT>
        </FONT>
    </P>
        <BR>
    <H2 CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            RE:	Termination of Employment
        </FONT>
    </H2>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    Dear
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <B>{{EmployeeName}},
                    </B>
                </FONT>
            </FONT>
        </FONT>
    </P>
        <BR>
    <P>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <FONT COLOR="#000000">
                    <FONT SIZE=2>
                        Please
                        allow this letter to confirm the substance of our conversation on
                    </FONT>
                </FONT><FONT COLOR="#000000"><FONT SIZE=2><B>{{CurrentDate}}</B></FONT></FONT><FONT COLOR="#000000">
                                                                                                  <FONT SIZE=2>
                                                                                                      at which time you were informed of the company&#39;s decision to
                                                                                                      terminate the employment relationship, effective immediately.  As
                                                                                                      stated the primary reason for this business decision is based
                                                                                                  </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT SIZE=2>
                        <B>{{TerminationType}}</B>
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                Your
                final pay and, if applicable, any accrued and unused vacation (less
                applicable withholdings and deductions) will be
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <B>{{FinalPay}}</B>
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                .
                Your final pay statement and a Record of Employment will be
                delivered to your home address in due course.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                Although
                this decision is unfortunate the company is prepared to issue a
                without prejudice payment which we consider fair to reflect your
                service with the company.  Conditional upon: (i) your signing and
                returning the attached Release and Indemnity; and (ii) your
                compliance with all the terms and conditions set out below, the
                company will provide you with a separation package designed to assist
                you with your transition to new employment.  The separation package,
                which is in satisfaction of all statutory, contractual and common law
                entitlements, consists of the followings:
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <OL>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        Payment
                        of all compensation and outstanding vacation earned up to
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        <B>{{CurrentDate}}</B>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <A NAME="_GoBack"></A><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        Termination
                        Payment in lieu of notice of up to
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        <B>{{TerminationPay}}</B>
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        paid via
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        <B>{{TerminationPayPaidValue}}</B>
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        ,
                        including appropriate vacation pay.
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        The
                        continuation of your health care benefits until
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        <B>{{CurrentDate}}</B>
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        ,
                        any expenses incurred prior to this date will be authorized for
                        payment. If you require benefits beyond this date, we suggest making
                        personal arrangements.
                    </FONT>
                </FONT>
            </P>
    </OL>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            Please
            note that all payments are subject to applicable deductions, i.e.
            income tax, etc.
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                We
                ask that you return the originals and all copies of any company
                files, documents, software, hardware, keys, credit cards, office
                equipment, and all other company property in your possession to the
                undersigned as soon as possible, and in any event, prior to
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <B>{{LastDayOfWork}}</B>
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                .
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <BR>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                The
                terms of this separation package and your personal compensation
                information are strictly confidential and must not be discussed with
                anyone other than myself, members of your immediate family and your
                professional advisor.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <BR>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                Please
                obtain legal or other advice, which you may deem prudent in
                considering the separation package set forth herein.  If the
                separation package and its terms are acceptable to you, please
                indicate your intentions to accept this offer by returning a signed
                original of the attached Release and Indemnity before a witness.
                This arrangement will remain open until
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <B>
                    February
                    24, 2019
                </B>
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                ,
                after which time it will be considered withdrawn.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                If
                you do not accept the terms of the offer set out herein and chose not
                to return a signed Release and Indemnity by the indicated date, the
                company will pay you a lump sum amount representing notice of
                termination, and any severance pay to which you may be entitled,
                pursuant to the
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <I>
                    Employment
                    Standards Act, 2000
                </I>
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                (less required withholdings and applicable deductions).
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            Although
            this decision is unfortunate, we wish you luck in your future
            endeavours.
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            Please
            contact me if you require any further information.
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY><FONT FACE="Arial, sans-serif">Regards,</FONT></P>
    <H1 CLASS="western" ALIGN=JUSTIFY></H1>
    <H1 CLASS="western" ALIGN=JUSTIFY></H1>
    <H1 CLASS="western" ALIGN=JUSTIFY></H1>
    <P CLASS="western" ALIGN=LEFT>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                Cc:	Employee
                File
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="border-top: none; border-bottom: 1.50pt solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <I>
                    HR
                    Manager
                </I>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <DIV TYPE=FOOTER>
        <TABLE WIDTH=638 CELLPADDING=7 CELLSPACING=0>
            <COL WIDTH=199>
            <COL WIDTH=199>
            <COL WIDTH=199>
            <TR VALIGN=TOP>
                <TD WIDTH=199 STYLE="border: none; padding: 0in">
                    <P ALIGN=LEFT>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=199 STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=199 STYLE="border: none; padding: 0in">
                    <P ALIGN=RIGHT>
                        <BR>
                    </P>
                </TD>
            </TR>
        </TABLE>
        <P ALIGN=LEFT>
            <BR>
        </P>
    </DIV>
</BODY>
</HTML>