﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <STYLE TYPE="text/css">

        <!--
        @page {
            size: 8.5in 11in;
            margin-right: 1in;
            margin-top: 0.5in;
            margin-bottom: 0.5in
        }

        P {
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            text-align: justify;
            widows: 2;
            orphans: 2
        }

            P.western {
                font-family: "Times New Roman", serif;
                font-size: 10pt;
                so-language: en-US
            }

            P.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            P.ctl {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

        H1 {
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            H1.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: en-US;
                font-style: italic;
                font-weight: normal
            }

            H1.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt;
                font-style: italic;
                font-weight: normal
            }

            H1.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                font-weight: normal
            }

        H2 {
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            H2.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: en-US
            }

            H2.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            H2.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                font-weight: normal
            }
        -->
    </STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">
    <H1 CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><B>{{CurrentDate}}</B></FONT></H1>
    <BR>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>{{EmployeeName}}</B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>
                    {{Address}},
                    {{City}},{{PostalCode}}
                </B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>
                    {{PhoneNumber}}
                </B>
            </FONT>
        </FONT>
    </P>
    <BR>
    <H2 CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            RE:	TERMINATION LETTER &#45; HAND DELIVERED AT {{CompanyAddress}}
        </FONT>
    </H2>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    Dear
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <B>
                        {{EmployeeName}},
                    </B>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <BR>
    <P>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <FONT COLOR="#000000">
                    <FONT SIZE=2>
                        Please
                        allow this letter to confirm the substance of our conversation on
                    </FONT>
                </FONT><FONT COLOR="#000000"><FONT SIZE=2><B>{{LastDayWorkDate}}</B></FONT></FONT><FONT COLOR="#000000">
                                                                                                      <FONT SIZE=2>
                                                                                                          at which time you were informed of the company&#39;s decision to
                                                                                                          terminate the employment relationship, effective immediately.  As
                                                                                                          stated the primary reason for this business decision is based (incompatible
                                                                                                          working relationship OR on the requirement to restructure the company to more efficiently support the
                                                                                                          demands of the organization.).
                                                                                                      </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                Your
                final pay and, if applicable, any accrued and unused vacation (less
                applicable withholdings and deductions) will be
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <B>{{FinalPay}}</B>
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                .
                Your final pay statement and a Record of Employment will be
                delivered to your home address in due course.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                Although this decision is unfortunate the company is prepared to issue payment which we consider fair to reflect your service with the company.  To conclude the employment relationship in an amiable manner the company is prepared to issue the following:
            </FONT>
        </FONT>
    </P>
    <br />
    <OL>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        Payment for services performed until the conclusion of the business day on
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        <B>{{CurrentDate}}</B>
                    </FONT>
                </FONT>
            </P>
        </LI>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <A NAME="_GoBack"></A><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        Payment in lieu of notice of {{TerminationPay}} paid through
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        <B>{{TerminationPay}}</B>
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        paid via
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        <B>{{TerminationPayPaidValue}}</B>
                    </FONT>
                </FONT>
            </P>
        </LI>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        Payment for outstanding vacation pay calculated up to and including {{LastDayWorkDate}}
                    </FONT>
                </FONT>
            </P>
        </LI>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        The continuation of your health care benefits until {{DATEofBENEFITS}} any expenses incurred prior to this date will be authorized for payment. Should you require benefits beyond this date, we suggest making personal arrangements.
                    </FONT>
                </FONT>
            </P>
        </LI>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        A letter of reference excitable to both parties.
                    </FONT>
                </FONT>
            </P>
        </LI>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        Your Record of Employment paperwork.
                    </FONT>
                </FONT>
            </P>
        </LI>
    </OL><BR>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            Please
            note that all payments are subject to applicable deductions, i.e.
            income tax, etc.
        </FONT>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                Although this decision is unfortunate, we wish you luck in your future endeavours.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                Please contact me if you require any further information.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <BR>
    </P>
    <p class="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                Regards,
            </FONT>
        </FONT>
    </p>
    <br /><br />
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                {{ReportingManager}}
            </FONT>
        </FONT>
    </P><br />
</BODY>
</HTML>