﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <STYLE TYPE="text/css">

        <!--
        @page {
            size: 8.5in 11in;
            margin-right: 1in;
            margin-top: 0.5in;
            margin-bottom: 0.5in
        }

        P {
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            text-align: justify;
            widows: 2;
            orphans: 2
        }

            P.western {
                font-family: "Times New Roman", serif;
                font-size: 10pt;
                so-language: en-US
            }

            P.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            P.ctl {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

        H1 {
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            H1.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: en-US;
                font-style: italic;
                font-weight: normal
            }

            H1.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt;
                font-style: italic;
                font-weight: normal
            }

            H1.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                font-weight: normal
            }

        H2 {
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            H2.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: en-US
            }

            H2.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            H2.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                font-weight: normal
            }
        -->
    </STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">
    <H1 CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><B>{{CurrentDate}}</B></FONT></H1>
    <BR>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>{{EmployeeName}}</B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>
                    {{Address}},
                    {{City}},{{PostalCode}}
                </B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>
                    {{PhoneNumber}}
                </B>
            </FONT>
        </FONT>
    </P>
    <BR>
    <H2 CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            RE:	TERMINATION LETTER &#45; HAND DELIVERED AT {{CompanyAddress}}
        </FONT>
    </H2>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    Dear
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <B>
                        {{EmployeeName}},
                    </B>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <BR>
    <P>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <FONT COLOR="#000000">
                    <FONT SIZE=2>
                        Please
                        allow this letter to confirm the substance of our conversation on
                    </FONT>
                </FONT><FONT COLOR="#000000"><FONT SIZE=2><B>{{LastDayWorkDate}}</B></FONT></FONT><FONT COLOR="#000000">
            <FONT SIZE=2>
                at which time you were informed of the company&#39;s decision to
                terminate the employment relationship, effective immediately.  As
                stated the primary reason for this business decision is based (incompatible
                working relationship OR on the requirement to restructure the company to more efficiently support the
                demands of the organization.).
            </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                Your
                final pay and, if applicable, any accrued and unused vacation (less
                applicable withholdings and deductions) will be
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <B>{{FinalPay}}</B>
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                .
                Your final pay statement and a Record of Employment will be
                delivered to your home address in due course.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                Although
                this decision is unfortunate the company is prepared to issue a
                without prejudice payment which we consider fair to reflect your
                service with the company.  Conditional upon: (i) your signing and
                returning the attached Release and Indemnity; and (ii) your
                compliance with all the terms and conditions set out below, the
                company will provide you with a separation package designed to assist
                you with your transition to new employment.  The separation package,
                which is in satisfaction of all statutory, contractual and common law
                entitlements, consists of the followings:
            </FONT>
        </FONT>
    </P>
    <br />
    <OL>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        Payment for services performed until the conclusion of the business day on
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        <B>{{CurrentDate}}</B>
                    </FONT>
                </FONT>
            </P>
        </LI>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <A NAME="_GoBack"></A><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        Payment in lieu of notice of <b>{{TerminationPay}}</b> paid through
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        <B>{{TerminationPay}}</B>
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        paid via
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        <B>{{TerminationPayPaidValue}}</B>
                    </FONT>
                </FONT>
            </P>
        </LI>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        Payment in consideration of the release of <b>{{TerminationPay}}</b> paid through
                    </FONT>
                </FONT><FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        <B>{{TerminationPayPaidValue}}</B>
                    </FONT>
                </FONT>
            </P>
        </LI>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        Payment for outstanding vacation pay calculated up to and including <b>{{LastDayWorkDate}}</b>
                    </FONT>
                </FONT>
            </P>
        </LI>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        The continuation of your health care benefits until <b>{{DATEofBENEFITS}}</b> any expenses incurred prior to this date will be authorized for payment. Should you require benefits beyond this date, we suggest making personal arrangements.
                    </FONT>
                </FONT>
            </P>
        </LI>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        A letter of reference excitable to both parties.
                    </FONT>
                </FONT>
            </P>
        </LI>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        Payment of ${{TerminationPay}} for Job Placement Assistance.
                    </FONT>
                </FONT>
            </P>
        </LI>
        <LI>
            <P CLASS="western" ALIGN=JUSTIFY>
                <FONT COLOR="#000000">
                    <FONT FACE="Arial, sans-serif">
                        Your Record of Employment paperwork.
                    </FONT>
                </FONT>
            </P>
        </LI>
    </OL><BR>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            Please
            note that all payments are subject to applicable deductions, i.e.
            income tax, etc.
        </FONT>
    </P>
    <br />
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                In consideration of the payments and rights provided for herein, you hereby:
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <BR>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                I, <b>{{EmployeeName}}</b>, on behalf of myself, my heirs, successors, administrators and assigns (hereinafter collectively referred to as the “Releasor”) hereby release and forever discharge <b>{{CompanyName}}</b>, along with all parents, subsidiaries, affiliates and associated companies, and together with all respective officers, directors, employees, servants and agents and their successors and assigns (hereinafter collectively referred to as the “Releasee”) jointly and severally from any and all actions, causes of actions, contracts, covenants, whether express or implied, including but not limited to, any bonus claims of any nature and kind whatsoever, any vacation pay entitlements, any claims and demands for damages, including any disability claims, loss of benefit claims, claims for indemnity, costs, interest, and/or claims for loss or injury of every nature and kind whatsoever and howsoever arising, whether statutory or otherwise and specifically including, but not limited to any claim under the Ontario Employment Standards Act (including but not limited to claims for wages, notice, severance, vacation pay or termination pay), Human Rights Code, Labour Relations Act, Pay Equity Act, Occupational Health and Safety Act, and any successor legislation, which I may now have, or may hereinafter have, in any way relating to my engagement by, hiring by, my employment by or the cessation of my engagement/employment with the Releasee.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                AND FOR THE SAID CONSIDERATION, I further acknowledge, covenant and warrant that I have not filed with any Court, Tribunal, Commission or Agency, etc., including but not limited to the Employment Standards Branch of the Ministry of Labour, the Ontario Labour Relations Board,  the Human Rights Tribunal of Ontario and the Pay Equity Commission of Ontario, any claim or complaint of the type described above, and that if such a claim or complaint has been filed, this Release and Indemnity, entered into freely and without duress, constitutes a full and final bar and/or answer to such claim or complaint.  For clarity, I further agree that, as a condition of the Settlement, I will take all necessary steps to ensure the withdrawal or dismissal of such claim or complaint.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                AND FOR THE SAID CONSIDERATION, I further acknowledge, covenant and agree that in the event that I should hereafter make any claim, or demand or take any action or proceeding against the Releasee in connection with any matter covered by this Release and Indemnity, or threaten to do so, this document may be raised as an estoppel and complete bar to any such claim, demand, action or proceeding, and that I will be liable to the Releasee for its costs and expenses, including reasonable legal fees, incurred in responding thereto.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                AND FOR THE SAID CONSIDERATION, I further acknowledge, covenant and agree that I shall not make any claim or demand or take any action or proceeding in connection with any matter covered by this Release against any other person or corporation who might claim contribution or indemnity from the Releasee by virtue of the said claim or proceeding.  I agree that if any such claim, demand, action or proceeding is made by me, the Releasee may raise this document as an estoppel and complete bar to any such claim, demand, action or proceeding and that I will be liable to the Releasee for its costs and expenses, including reasonable legal fees, incurred in responding thereto.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                AND FOR THE SAID CONSIDERATION, I further acknowledge, covenant and agree to save harmless and indemnify the Releasee from and against all claims, charges, taxes, penalties or demands which may be made by the Canada Revenue Agency requiring the Releasee to pay income tax, charges, taxes, or penalties under the Income Tax Act (Canada), in respect of amounts paid to me, in excess of income tax previously withheld; and in respect of any and all claims, charges, taxes or penalties and demands which may be made on behalf of or related to the Employment Insurance Commission and the Canada Pension Commission under the applicable statutes and regulations with respect to any amounts which may in the future be found to be payable by the Releasee in respect of the Releasor.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                AND FOR THE SAID CONSIDERATION, I further acknowledge, covenant and agree that during my engagement/employment I acquired confidential information which is the exclusive property of the Releasee which I shall not use in any manner without the express written permission of the Releasee.  I recognize that all material and information that has been disclosed to me during my employment/engagement is confidential information that could be used to the detriment of the Releasee.  As such, I will fulfill my obligations to hold such information.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                AND FOR THE SAID CONSIDERATION, I further acknowledge, covenant and agree that, notwithstanding the cessation of my engagement/employment, I will not discuss or disclose, to other than my immediate family members, legal advisors, financial advisors or as required by law, the terms of the Settlement or this Release and Indemnity.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                I HEREBY AGREE AND ACKNOWLEDGE THAT the consideration provided by the Releasee herein is not deemed to be an admission of liability on the part of the Releasee.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                I HEREBY AGREE AND ACKNOWLEDGE THAT in the event that any provision of this Release and Indemnity is deemed void, invalid or unenforceable by a court of competent jurisdiction, the remaining provisions shall remain in full force and effect.
            </FONT>
        </FONT>
    </P>
    <P CLASS="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                I HEREBY ACKNOWLEDGE AND CONFIRM that I have been afforded sufficient opportunity to obtain independent legal advice with respect to the details of the Settlement before accepting it and signing this Release and Indemnity.  I further confirm that I have read this Release and Indemnity, understand it, and am executing it voluntarily and without duress after having been afforded the opportunity to obtain legal advice and having either received such advice or chosen not to do so.
            </FONT>
        </FONT>
    </P>
    <p class="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                IN
                WITNESS WHEREOF, the Releasor has duly executed this Release and
                Indemnity this ______ day of _____________, ____________, in the
                presence of the witness whose signature is subscribed below.
            </FONT>
        </FONT>
    </p>
    <p class="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                This agreement shall endure to the benefit of and shall be binding upon the parties hereto and their respective heirs,
                legal personal representatives, successors and assigns.
            </FONT>
        </FONT>
    </p>
    <p class="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                Please obtain legal or other advice, which you may deem prudent in considering the settlement offer set forth herein.
                If the settlement offer and its terms are acceptable to you, please indicate your intentions to accept this offer by completing and signing in the
                appropriate areas below before a witness.  This arrangement will remain open until <b>{{TerminationPayPaidValue}}</b> after <b>{{LastDayWorkDate}}</b>., after which time it will be
                considered null and void.  Regardless, your employment with <b>{{CompanyName}}</b> is considered terminated effective immediately.
            </FONT>
        </FONT>
    </p>
    <p class="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                Although this decision is unfortunate, we wish you luck in your future endeavours.
            </FONT>
        </FONT>
    </p>
    <p class="western">
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                Regards,
            </FONT>
        </FONT>
    </p>
    <br /><br />
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                {{EmployeeName}}
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                {{Designation}}
            </FONT>
        </FONT>
    </P>
    <p class="western" align="JUSTIFY" style="border-top: none; border-bottom: 1.50pt solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
        <br>
    </p>
    <br />
    <p class="western" align="JUSTIFY">
        <font face="Arial, sans-serif">
            I, <b>{{EmployeeName}}</b>, acknowledge receipt of this letter
            and confirm my understanding of its content. I agree that I accept this arrangement of my own free will as
            confirmed by my signature below. I recognize that all final payments as well as my Record of Employment
            will be forwarded to my home address on file.
        </font>
    </p>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
        <BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.06in; margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">__________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;________________________</FONT></FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.06in; margin-bottom: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                Signature&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Date
            </FONT>
        </FONT>
    </P>
    <DIV TYPE=FOOTER>
        <P STYLE="margin-top: 0.06in; margin-bottom: 0in">
            <BR>
        </P>
        <P STYLE="margin-bottom: 0in">
            <FONT FACE="Arial, sans-serif">
                <FONT SIZE=2 STYLE="font-size: 9pt">

                </FONT>
            </FONT>
        </P>
    </DIV>
</BODY>
</HTML>