﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <STYLE TYPE="text/css">

        <!--
        @page {
            size: 8.5in 11in;
            margin-right: 1in;
            margin-top: 0.5in;
            margin-bottom: 0.5in
        }

        P {
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            text-align: justify;
            widows: 2;
            orphans: 2
        }

            P.western {
                font-family: "Times New Roman", serif;
                font-size: 10pt;
                so-language: en-US
            }

            P.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            P.ctl {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

        H1 {
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            H1.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: en-US;
                font-style: italic;
                font-weight: normal
            }

            H1.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt;
                font-style: italic;
                font-weight: normal
            }

            H1.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                font-weight: normal
            }

        H2 {
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            H2.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: en-US
            }

            H2.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            H2.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                font-weight: normal
            }
        -->
    </STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">
    <H1 CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><B>{{CurrentDate}}</B></FONT></H1>
    <BR>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>{{EmployeeName}}</B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>
                    {{Address}},
                    {{City}},{{PostalCode}}
                </B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>
                    {{PhoneNumber}}
                </B>
            </FONT>
        </FONT>
    </P>
    <BR>
    <H2 CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            RE:	TERMINATION LETTER &#45; HAND DELIVERED AT {{CompanyAddress}}
        </FONT>
    </H2>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    Dear
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <B>
                        {{EmployeeName}},
                    </B>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <BR>
    <P>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <FONT COLOR="#000000">
                    <FONT SIZE=2>
                        You are hereby given notice that your employment with {{CompanyName}} shall be terminated for
                        cause effective immediately,{{LastDayWorkDate}}
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <div width="670" height="7" valign="TOP" style="border: 1.50pt solid #000000; padding: 0in 0.08in" style="display:{{display}}">
        <p class="western" style="margin-bottom: 0in">
            {{OtherInfo}}
        </p><br />
    </div>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <FONT COLOR="#000000">
                    <FONT SIZE=2>
                        We request that you return any and all property that was generated or obtained during your
                        employment with this company, including any documents, handbooks, computers, uniforms, tools, keys
                        etc.
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <FONT COLOR="#000000">
                    <FONT SIZE=2>
                        It is {{CompanyName}} policy to protect its trade secrets, customer lists, and other confidential or
                        proprietary information as vigorously as possible. We remind you that we consider our clients, our
                        business procedures and our business plans to be proprietary.
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <FONT COLOR="#000000">
                    <FONT SIZE=2>
                        Your final paycheck shall be for the services performed up to and including {{LastDayWorkDate}}, including any
                        vacation time you have accrued until this date. Additionally, please be advised that your benefit
                        coverage will cease effective immediately.
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P><br /><br />
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                Sincerely,
            </FONT>
        </FONT>
    </P>
    <br /><br />
    <P CLASS="western" ALIGN=JUSTIFY STYLE="border-top: none; border-bottom: 1.50pt solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <I>
                    {{ReportingManager}}
                </I>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <BR>
    </P>
</BODY>
</HTML>