﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <STYLE TYPE="text/css">

        <!--
        @page {
            size: 8.5in 11in;
            margin-right: 1in;
            margin-top: 0.5in;
            margin-bottom: 0.5in
        }

        P {
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            text-align: justify;
            widows: 2;
            orphans: 2
        }

            P.western {
                font-family: "Times New Roman", serif;
                font-size: 10pt;
                so-language: en-US
            }

            P.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            P.ctl {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

        H1 {
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            H1.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: en-US;
                font-style: italic;
                font-weight: normal
            }

            H1.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt;
                font-style: italic;
                font-weight: normal
            }

            H1.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                font-weight: normal
            }

        H2 {
            margin-top: 0in;
            margin-bottom: 0in;
            direction: ltr;
            color: #000000;
            widows: 2;
            orphans: 2
        }

            H2.western {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                so-language: en-US
            }

            H2.cjk {
                font-family: "Times New Roman", serif;
                font-size: 10pt
            }

            H2.ctl {
                font-family: "Arial", sans-serif;
                font-size: 10pt;
                font-weight: normal
            }
        -->
    </STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">
    <H1 CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt"><B>{{CurrentDate}}</B></FONT></H1>
    <BR>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>{{EmployeeName}}</B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>
                    {{Address}},
                    {{City}},{{PostalCode}}
                </B>
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=LEFT>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                <B>
                    {{PhoneNumber}}
                </B>
            </FONT>
        </FONT>
    </P>
    <BR>
    <H2 CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            RE:	TERMINATION LETTER &#45; HAND DELIVERED AT {{CompanyAddress}}
        </FONT>
    </H2>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    Dear
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, sans-serif">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <B>
                        {{EmployeeName}},
                    </B>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <BR>
    <P>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <FONT COLOR="#000000">
                    <FONT SIZE=2>
                        To ensure &quot;mutual compatibility&quot; between yourself and {{CompanyName}} each employer will constantly
                        monitor an employee&#39;s attendance and performance, especially for the first three months of employment
                        or during your probationary period.
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <FONT COLOR="#000000">
                    <FONT SIZE=2>
                        This time allows us to evaluate your job responsibilities, as well as, providing {{CompanyName}} with the
                        opportunity to assess your suitability as a member of our team. Performance and suitability will be
                        monitored and evaluated by management. If in the management&#39;s discretion, the employee is unsuitable
                        for the employment offered, disciplinary action may occur up to and including termination.
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <FONT COLOR="#000000">
                    <FONT SIZE=2>
                        As a result, and as per our conversation on {{LastDayWorkDate}}, management decided to terminate your
                        employment, effective immediately as it was felt that your overall performance was not satisfactory.
                        We will forward your Record of Employment, any monies owed to you and vacation pay (minus applicable
                        deductions).
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 9pt">
                <FONT COLOR="#000000">
                    <FONT SIZE=2>
                        We wish you luck in your future endeavours.
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P><br />
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                Regards,
            </FONT>
        </FONT>
    </P><br />
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                {{EmployeeName}}
            </FONT>
        </FONT>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY>
        <FONT FACE="Arial, sans-serif">
            <FONT SIZE=2 STYLE="font-size: 11pt">
                {{Designation}}
            </FONT>
        </FONT>
    </P><br />
</BODY>
</HTML>